docs/**/*                              linguist-generated=true
packages/fact/src/EdiFact*.ts          linguist-generated=true
packages/dom/query/ElementSelector*.ts linguist-generated=true
packages/x12/src/EdiX12*.ts            linguist-generated=true
